.prt__game-container_article{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.prt__game-container_article-image{
    width: 100%;
    height: 100%;
    background: var(--color-footer);
}

.prt__game-container_article-image img{
    width: 100%;

}

.prt__game-container_article-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}



.prt__game-container_article-content h3{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    color: #FFFFFF;


}

.prt__game-container_article-content p{
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 11.5px;
    line-height: 15px;
    color: #FFFFFF;
}


.prt__game-container_article-content_learnmore{
    cursor: pointer;
    margin-top: 5rem;

    font-family: var(--font-family);
    font-weight: bold;
    font-size: 11.5px;
    line-height: 15px;
    color: #FFFFFF;
}

@media screen and (max-width: 550px){
    .prt__game-container_article-content{
        font-size: 18px;
        line-height: 25px;
    }
}