.App {
    text-align: center;
  }

   
  input {
    border: 0;
  }
   
  .submitButton {
    border: 0;
    margin-bottom: 17px;
  }

.back a{
    color: #fff;
    font: var(--font-family);
    font-size: 50px;
    margin:2rem;
}
.back{
    text-align: left;
}
  
  .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-content: flex-start;
    }
     
    .singleImage {
      padding: 0 20px 20px;
      height: 500px;
      border-radius: 34;
    }
     
    .singleImage:hover {
      padding: 5px;
      /* opacity: .5; */
      transition: 0.5s;
      transform: scale(
        1.24
      ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
     
    .popupParent {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
     
    .popupImage {
      position: absolute;
      left: 25%;
      right: 25%;
      top: 25%;
      bottom: 25%;
      margin: auto;
    }
     
    .imageClosingButton {
      position: relative;
    }

    @media screen and (max-width: 1050px) {
        .singleImage {
            width: 60%;
            height: 100%;
          }
    }

    @media screen and (max-width: 650px) {
        .singleImage {
            width: 80%;
            height: 100%;
          }
    }
