.prt__artgal{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.prt__artgal-heading{
  width:100%;
  text-align: left;

  margin-bottom: 1rem;
}

.prt__artgal-heading h1{
  font-family: var(--font-family);
  font-size: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  margin: 2rem;

  letter-spacing: -0.04em;
}

.prt__artgal-heading p{
  font-family: var(--font-family);

  font-size: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
  margin: 1.5rem;
 
}

.prt__artgal-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 2rem;
}

@media screen and (min-width:2000px){
  .prt__artgal-container{
      grid-template-columns: repeat(4, 1fr);
      
  }
}

@media screen and (max-width:1000px){
  .prt__artgal-container{
      grid-template-columns: repeat(2, 1fr);
      
  }
}

@media screen and (max-width: 650px){
  .prt__artgal h1{
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 0rem;
  }

  .prt__artgal p{
      font-size: 16px;
      line-height: 24px;
  }
  .prt__artgal-container{
      grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (max-width: 490px){
  .prt__artgal h1{
      font-size: 36px;
      line-height: 48px;
  }

  .prt__artgal p{
      font-size: 14px;
      line-height: 24px;
  }
  .prt__artgal-container{
    margin:0;
  }

}